{% extends 'blog/layout.html' %}

{% block content %}
    <h1>AskDjango</h1>
    <p>안녕하세요. 여러분의 파이썬/장고 페이스메이커가 되어드리겠습니다. :)</p>

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색하기">
    </form>

    <ul>
        {% for post in post_list %}
            <li>
                <a href="{% url "blog:post_detail" post.id %}">{{ post.title }}</a>
                {{ post.status }}
                <small>by {{ post.author }}</small>
                <small>by {{ post.created_at }}</small>
                <small>by {{ post.updated_at }}</small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}